.modal.fade#upload-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Upload
            form(method='post' action='/upload' enctype="multipart/form-data")
                .modal-body
                        .row
                            .col-md-12
                                .form-group
                                    label.btn.btn-primary.btn-file.center-block Upload
                                        input.hidden(type='file' name='file-upload')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary.hidden#upload-movies(type='submit') Upload
        // /.modal-content
    // /.modal-dialog
// /.modal