doctype html
html
  head
    include includes/head.pug
  body
    div(class='container')
        include includes/navbar.pug
        h1 Movies
        table(class='table table-striped')
            thead
                tr
                    th Name
            tbody
                each val in movies
                    tr
                        td=val.name
                        td
                            a(href='/watch/' + val.path class='btn btn-primary')='Watch'
