doctype html
html
  head
    include includes/head.pug
    link(rel="stylesheet" href="/static/css/sweetalert.css")
  body
    div.container
        include includes/navbar.pug
        .main-content
            .row
                .col-md-6
                    h1 Movies
                .col-md-6
                    button.btn.btn-primary.pull-right#add-movie(type="button" data-toggle="modal" data-target="#add-modal") Add
                    button.btn.btn-primary.pull-right(type="button" data-toggle="modal" data-target="#import-modal") Import
            .row
                table.table.table-striped
                    thead
                        tr
                            th Name
                    tbody
                        each val in movies
                            tr
                                td
                                    h5=val.name
                                td
                                    a.btn.btn-primary.pull-right(href='/watch/' + val.path)='Watch'
    include includes/new-movie.pug
    include includes/import.pug
    script(src='/static/bundle.js')