html
  head
    title= title
    link(rel='stylesheet', href='/static/css/style.css')
  body
    div(class='video-container')
        video(id='video' controls preload='metadata')
            source(src='/static/media/Suicide.Squad.2016.1080p.BluRay.x264-[YTS.AG].mp4')
            track(label='English' kind='subtitles' srclang='en' src='/static/media/test.vtt')

    div
        a(href='/logout') Logout

    script(src='static/bundle.js')
