doctype html
html
  head
    include includes/head.pug
    link(rel="stylesheet" href="https://cdn.plyr.io/2.0.11/plyr.css")
  body
    div(class='container')
        include includes/navbar.pug

        div(class='video-container')
            video(id='video' controls preload='metadata')
                source(src=mediaRoot + movie.video type='video/mp4')
                if movie.subtitle
                    track(label='English' kind='subtitles' srclang='en' src=mediaRoot + movie.subtitle)

    script(src='/static/bundle.js')
