doctype html
html
  head
    include includes/head.pug
    link(rel="stylesheet" href="https://cdn.plyr.io/2.0.11/plyr.css")
    link(rel="stylesheet" href="/static/css/sweetalert.css")
  body
    div(class='container')
        include includes/navbar.pug

        .video-container
            video(id='video' controls preload='metadata')
                source(src=mediaRoot + movie.video type='video/mp4')
                if movie.subtitle
                    track(label='English' kind='subtitles' srclang='en' src=mediaRoot + movie.subtitle)

        .col-md-3#delete-panel
            .panel.panel-danger
                .panel-heading DELETE THIS MOVIE
                .panel-body
                    .row
                        .col-md-12
                            label
                                input#chbx-delete-files(type='checkbox') 
                                |  Delete files too?
                    .row
                        .col-md-12
                            button.btn.btn-danger.remove-movie(id='remove-movie-' + movie.path data-path=movie.path) Delete            

    script(src='/static/bundle.js')